@font-face {
  font-family: noto-sans-bold;
  src: url(/fonts/notosans-bold.ttf);
}
@font-face {
  font-family: noto-sans-regular;
  src: url(/fonts/notosans-regular.ttf);
}
a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .container {
    width: 1024px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 768px !important;
  }
}

ul {
  list-style: none;
  padding: 0px;
}

/* RESET BOOTSTRAP STYLES */

.navbar-default {
  background: #FAFAFA !important;
  border: none !important;
  z-index: 1;
}

.navbar-nav a:hover {
  color: #F7323F !important;
}

@media screen and (min-width: 769px) {
  .blackgroundBlackHoverOpacity{
    background-color: black;
  }

  .blackgroundBlackHoverOpacity:hover >div {
    opacity: 0.85;
    cursor: pointer;
  }

  .btnHover:hover {
    opacity: 0.75;
  }
}

*{
  /*border: 1px solid black;*/
}
